langchain>=0.1.0
langchain-openai>=0.0.8
openai>=1.0.0
sentence-transformers>=2.2.2
numpy>=1.23.0
pickle-mixin>=1.0.2
langchain-community
trafilatura
openpyxl
pandas
streamlit
faiss-cpu
pinecone-client